.nav-container {
    // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(117,123,255,1) 71%, rgba(148,228,177,1) 82%, rgba(249,196,128,1) 91%, rgba(243,159,249,1) 100%);
    padding: 25px;
    border-bottom: 2px solid rgb(75, 26, 255);
    a {
        font-weight: bold;
    }
}